/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-apr-2018, 6.22.14
    Author     : Peter
*/
.panel-group .panel-commands {
   display: none;
}

.panel-group .expanded:hover .panel-commands {
   display: block;
}

.panel-group .panel {
    border: 1px solid #ddd !important;
}

.panel-heading {
  padding: 8px 12px !important;
  border-bottom: 1px solid #ddd !important;
}

.panel-title {
    font-size: 20px !important;
    font-weight: bold;
}

.panel-title a{
    text-decoration: none;
}